/* line 1, ../compass/sass/_base.scss */
body {
  overflow-x: hidden;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
}

/* line 13, ../compass/sass/_base.scss */
img {
  max-width: 100%;
}

/* line 1, ../compass/sass/_home.scss */
body {
  background-color: #edebe6;
}

/* line 4, ../compass/sass/_home.scss */
.navbar {
  height: 60px;
  background-color: #284741;
  border-color: black;
}
/* line 14, ../compass/sass/_home.scss */
.navbar .navbar-left {
  float: left;
  width: 50%;
}
/* line 19, ../compass/sass/_home.scss */
.navbar .navbar-right {
  width: 50%;
  float: right;
}
/* line 24, ../compass/sass/_home.scss */
.navbar img {
  height: 55px;
}
/* line 28, ../compass/sass/_home.scss */
.navbar button {
  float: right;
  margin: 12px 5px;
}

/* line 42, ../compass/sass/_home.scss */
.footer {
  height: 60px;
  font-size: 12px;
}

/* line 46, ../compass/sass/_home.scss */
.footer img {
  height: 40px;
}

/* line 50, ../compass/sass/_home.scss */
.coffee-cup-background {
  height: 400px;
  width: 100%;
  background-image: url("../images/coffee.jpg");
  min-width: 100%;
  background-position: -368px -500px;
  background-size: auto;
}

/* line 59, ../compass/sass/_home.scss */
.coffee-cup-text {
  padding-top: 150px;
  padding-left: 100px;
  color: white;
}

/* line 65, ../compass/sass/_home.scss */
.works {
  height: 75px;
  background-color: black;
  color: white;
  font-weight: 300;
  width: 100%;
  background-color: #edebe6;
  height: 100px;
  line-height: 100px;
  font-size: 35px;
  color: #196d46;
  text-align: center;
}

/* line 79, ../compass/sass/_home.scss */
.step-1 {
  height: 400px;
  width: 100%;
  background-image: url("../images/CoffeeBags.jpg");
  background-position: 0px -413px;
  background-size: cover;
}
/* line 86, ../compass/sass/_home.scss */
.step-1 .title {
  font-size: 40px;
}
/* line 90, ../compass/sass/_home.scss */
.step-1 .step-1-text {
  padding-top: 75px;
  font-size: 20px;
  color: white;
  padding-left: 75px;
}
/* line 97, ../compass/sass/_home.scss */
.step-1 p {
  padding-left: 50px;
}

/* line 102, ../compass/sass/_home.scss */
.step-2 {
  width: 100%;
  height: 400px;
  background-color: #edebe6;
}
/* line 107, ../compass/sass/_home.scss */
.step-2 .step-2-background img {
  margin-left: 70px;
  margin-top: 60px;
  transform: rotate(-10deg);
  border: 10px solid;
}
/* line 114, ../compass/sass/_home.scss */
.step-2 .step-2-text {
  float: left;
  padding-top: 100px;
  margin-left: 20%;
  color: #3a2f27;
}

/* line 122, ../compass/sass/_home.scss */
.step-3 {
  height: 400px;
  width: 100%;
  background: black;
  color: white;
}
/* line 128, ../compass/sass/_home.scss */
.step-3 img {
  width: 100%;
}

/* line 133, ../compass/sass/_home.scss */
#get-started {
  height: 300px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  width: 100%;
  background-color: #edebe6;
  margin-bottom: 50px;
}
/* line 141, ../compass/sass/_home.scss */
#get-started button {
  background-color: #284741;
  height: 60px;
  width: 200px;
  margin-top: 50px;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 150, ../compass/sass/_home.scss */
#get-started .our-story-button {
  margin-top: 10px;
}
/* line 153, ../compass/sass/_home.scss */
#get-started h3 {
  margin-top: 15px;
}

/* line 1, ../compass/sass/_registration.scss */
.registration-content {
  margin-top: 75px;
  background-color: #edebe6;
  height: 43em;
  height: 200px;
}

/* line 7, ../compass/sass/_registration.scss */
.registration-form {
  margin-top: 10px;
}

/* line 11, ../compass/sass/_registration.scss */
.registration-wrapper {
  font-weight: bold;
}

/* line 1, ../compass/sass/_options.scss */
.light-panel {
  background-color: white;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
  border: 25px solid #edebe6;
}

/* line 9, ../compass/sass/_options.scss */
.options-content {
  margin-top: 65px;
  margin-bottom: 40px;
  background-color: #edebe6;
}

/* line 15, ../compass/sass/_options.scss */
.header-row {
  margin-bottom: -5px;
}

/* line 19, ../compass/sass/_options.scss */
.plan-row {
  diplay: inline;
}
/* line 22, ../compass/sass/_options.scss */
.plan-row .individual-plan {
  background: white;
  border: 35px solid #edebe6;
  min-width: 350px;
}
/* line 28, ../compass/sass/_options.scss */
.plan-row .family-plan {
  background: white;
  border: 35px solid #edebe6;
  min-width: 350px;
}
/* line 34, ../compass/sass/_options.scss */
.plan-row img {
  width: 100%;
}

/* line 39, ../compass/sass/_options.scss */
.add-border {
  border: 1px solid #d8d3c8;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}

/* line 46, ../compass/sass/_options.scss */
select {
  height: 30px;
  width: 150px;
}

/* line 51, ../compass/sass/_options.scss */
.option-button-holder {
  margin-top: 15px;
}

/* line 1, ../compass/sass/_login.scss */
.login-body {
  margin-top: 75px;
}

/* line 1, ../compass/sass/_shipping.scss */
#shipping {
  margin-top: 80px;
}

/* line 4, ../compass/sass/_shipping.scss */
.shipping-block {
  border: 1px solid #d8d3c8;
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px;
  font-size: 15px;
}

/* line 11, ../compass/sass/_shipping.scss */
.button-holder {
  margin-bottom: 80px;
}

/* line 14, ../compass/sass/_shipping.scss */
.shipping-label {
  margin-top: 0px;
}

/* line 1, ../compass/sass/_payment.scss */
#payment {
  margin: 10px auto;
  padding: 20px;
  font-size: 15px;
  margin-top: 45px;
}

/* line 7, ../compass/sass/_payment.scss */
.light-panel {
  background-color: white;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}
