<div class="container-fluid options-content">
  <div class="row">
    <div class="col-sm-12 text-center header-row">
      <h1>What'll Ya Have!</h1>
      <h4>Shipping is Free and you can skip any week!</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 plan-row">
      <div class="col-sm-6 individual-plan text-center">
        <h1>Solo Plan</h1>
        <h5>For those who drink alone</h5>
        <div class="col-sm-12 image"><img src="images/solodrinker.jpg"/></div>
        <div class="col-sm-8 info text-left">		
          <h4>Cups per week:</h4>
          <h4>Price per cup:    </h4>
          <h4>Weekly Total:      </h4>
          <h4>Grind Type:</h4>
        </div>
        <div class="col-sm-4 price info">
          <h4>14</h4>
          <h4>$.50</h4>
          <h4>$7.00</h4>
          <h5>	
            <select>.selectpicker 
              <option>Chunky</option>
              <option>Coarse</option>
              <option>Thin</option>
            </select>
          </h5>
        </div>
        <div class="col-sm-12 text-center plan-button">
          <button type="button" class="btn btn-primary">SUBMIT</button>
        </div>
        <div class="col-sm-12 text-center">
          <h5>Shipping is always free</h5>
          <h5>Skip any week. Cancel anytime</h5>
        </div>
      </div>
      <div class="col-sm-6 family-plan text-center">
        <h1>Family Plan</h1>
        <h5>For those who drink together</h5>
        <div class="col-sm-12 image"><img src="images/coffeedrinkers.jpg"/></div>
        <div class="col-sm-8 info text-left">		
          <h4>Cups per week:     </h4>
          <h4>Price per cup:     </h4>
          <h4>Weekly Total:      </h4>
          <h4>Grind Type:</h4>
        </div>
        <div class="col-sm-4 price info">
          <h4>40</h4>
          <h4>$.45</h4>
          <h4>$18.00</h4>
          <h5>	
            <select>.selectpicker 
              <option>Coarse</option>
              <option>Chunky</option>
              <option>Thin</option>
            </select>
          </h5>
        </div>
        <div class="col-sm-12 text-center plan-button">
          <button type="button" class="btn btn-primary">SUBMIT</button>
        </div>
        <div class="col-sm-12 text-center">
          <h5>Shipping is always free</h5>
          <h5>Skip any week. Cancel anytime</h5>
        </div>
      </div>
    </div>
  </div>
</div>